$licolor: black;

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-weight: 500;
    height: 10vh;
    align-items: center;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;
        
        li {
            font-size: 20px;
            transition: .3s;
            color: $licolor;
            position: relative;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                width: 80%;
                transform: scaleX(0);
                height: .5px;
                background-color: black;
                left: 10%;
                bottom: -5px;
                transition: transform 0.3s ease;
                
            }
            &:hover {
                &::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ease;
                }
            }
            
            
        }
        li:hover{
            transition: .3s;

        }
    }
    
    .logo{
        img {
            width: 70px;
            height: 70px;
        }
        padding: 20px;
    }
    .left {

    }
    .right {
        
    }
}
