$licolor: black;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 50;

    &Body {
        position: relative;
    }

    &Burger {
        display: none;
    }

    &logo_adapted {
        display: none;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    height: 10vh;
    align-items: center;

    .right {
        .goodsCount {
            position: relative;
            z-index: 1;

            .goodsCountFilled {
                position: absolute;
                background-color: red;
                width: 20px;
                height: 20px;
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                color: white;
                border-radius: 50%;
                top: -10px;
                right: -10px;
            }
            .goodsCountEmpty {
                display: none;
            }
        }

    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;

        li {
            font-size: 20px;
            transition: .3s;
            color: $licolor;
            position: relative;
            cursor: pointer;

            a::before {
                content: '';
                position: absolute;
                width: 80%;
                transform: scaleX(0);
                height: .5px;
                background-color: black;
                left: 10%;
                bottom: -5px;
                transition: transform 0.3s ease;

            }

            &:hover {
                a::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ease;
                }
            }


        }

        li:hover {
            transition: .3s;

        }
    }

    .logo {
        img {
            width: 70px;
            height: 70px;
        }

        padding: 20px;
    }

    .left {}

    .right {}
}

@media (max-width: 991px) {
    .navbar {
        ul {
            li {
                font-size: 18px;
            }
        }

        .logo {
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

}

@media (max-width: 767px) {
    .header {
        &Body {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &logo_adapted {
            flex: 0 0 40px;
            display: block;

            img {
                width: 50px;
                height: 50px;
            }

        }

        &Logo_main {
            display: none;
        }

        &Burger {
            display: block;
            position: relative;
            width: 30px;
            height: 19.9px;
            position: relative;
            z-index: 3;
            .goodsCountBurger {
                position: absolute;
                bottom: -15px;
                left: -15px;
                background-color: red;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-weight: 600;
            }

            span {
                position: absolute;
                background-color: #000000;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

            &::before,
            &::after {
                content: '';
                background-color: #000000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active {
                span {
                    transform: scale(0);
                }
                .goodsCountBurger {
                    display: none;
                }

                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }
        }

    }

    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: rgba(235, 244, 252, 1);
        padding: 70px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;

        &.active {
            right: 0;
        }

        .left,
        .right {
            display: flex;
            flex-direction: column;
            gap: 30px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .right {
            .goodsCount {
                .goodsCountFilled {
                    top: -15px;
                    right: -15px;
                }
            }
        }
    }

}