//<IMPORTS>============
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,500&display=swap');

//<VARIABLES>==========
$minwidth: 320px;
$mw: 1170px;
$md1: $mw + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$fontfamily: "Arial";

.screenHeight {
	margin: 10vh 0 0 0;
	height: 75vh;
}
 @media (max-width: 420px) {
	.screenHeight {
		height: 67vh;
	}
 }

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}

.container {
	max-width: $mw;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
a {
	color: black;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: $minwidth;
}
body {
	line-height: 1;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: $fontfamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
